.productCard {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 11px;
    margin-bottom:11px;
    padding-left: 8px;
}
.productCardContainer {
    display: flex;
    margin-top: 8px;
    flex-direction: row;
    flex-wrap: wrap;
}

.loadingContainer {
    margin-top: 10px;
}

.errorContainer {
    margin-top: 10px;
}